* {
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    list-style: none;
}

.calendar {
    width: 800px;
    padding: 5px 20px 20px 20px;
}

.calendar>.header>.title {
    width: 50%;
    display: inline-block;
    font-size: 30px;
}

.calendar>.header>.calendar_btn {
    width: 100px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #ffffff;
    vertical-align: middle;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.calendar>.header>.calendar_btn:hover {
    color: rgb(231, 143, 143);
}

.calendar>.day {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.calendar>.day>div {
    display: table-cell;
    text-align: center;
    height: 70px;
    vertical-align: middle;
}

/* 일요일만 색 빨간색으로 함 */
.calendar>.day>div:first-child {
    color: red;
}

.calendar>.dates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid;
}

.calendar>.dates>.date {
    width: calc(100%/7);
    height: 60px;
    box-sizing: border-box;
    line-height: 3;
    border-radius: 3px;
}

/* 일요일만 나타내는 날짜를 빨간색으로 지정 */
.calendar>.dates>.date:nth-child(7n+1) {
    color: red;
}

/* 화면에서 지난 날짜 보이는 것의 색을 연하게 처리  */
.calendar>.dates>.last {
    color: #c8c8c8 !important;
}

/* 화면에서 다음 날짜 보이는 것의 색을 연하게 처리  */
.calendar>.dates>.next {
    color: #c8c8c8 !important;
}