@charset "UTF-8";

* {
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
	height: 100px;
	background: rgb(255, 255, 204);
	line-height: 100px;
	color: rgb(000, 051, 102);
    float: right;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	height: 100%;
	display: flex;
	align-items: center;
}

footer {
	width: 100%;
	height: 70px;
	background: rgb(255, 255, 204);
	text-align: center;
	line-height: 70px;
	color: rgb(000, 051, 102);
	position: absolute;
	bottom: 0;
}

footer img {
	float: left;
	display: flex;
    justify-content: center;
}

footer .logo1 {
    float: left;
}

footer .logo2 {
    float: right;
}